{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
    Empresa
{% endblock  %}

{% block main %}
<div class="container">
  <!-- Content here -->

<form method="POST">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
</form>
<table class="table">
  <thead>
    <tr>
     <th scope="col">Tipo</th>
      <th scope="col">Caminho</th>
    </tr>
  </thead>
  <tbody>
  {% for documento in object.documento_set.all %}
    <tr>
      <th scope="row">{{ documento }}</th>
      <td><a href="{{ documento.arquivo.url }}">{{ documento.arquivo.url }}</a></td>
    </tr>
    {% endfor %} 
  </tbody>
</table>


{% if object %}
    <a href="{% url 'create_documento'  object.id  %}" class="btn btn-primary btn-lg btn-block">Novo Documento</a>
   {% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Motivo</th>
      <th scope="col">Horas</th>
      <th scope="col">Utilizada</th>
    </tr>
  </thead>
  <tbody>
  {% for registo_hora in object.registrohoraextra_set.all %}
    <tr>
      <th scope="row">{{ registo_hora.motivo }}</th>
      <td><a href="{% url 'hora_extra_update' registo_hora.id %}">{{ registo_hora.horas }}</a></td>
      <th scope="row">{{ registo_hora.utilizadas }}</th>
    </tr>
    {% endfor %} 
  </tbody>
</table>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total de horas</h5>
        <p class="card-text">{{ object.total_horas_extra }}</p>
      </div>
    </div>
  </div>
</div>
{% if object %}
   
{% endif %}
<br><br>
{% endblock  %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock  %}
