{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock  %}

{% block main %}
 
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'profile' %}">Perfil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lista de Funcionários</li>
  </ol>
</nav>
<div class="container">
<table class="table table-sm table-hover">
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'funcionarios_create' %}"><i class="fas fa-plus"></i></a>
  </li>
</ul>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for funcionario in object_list %}
    <tr>
      <th scope="row">{{ funcionario.id }}</th>
      <td>{{ funcionario }}</td>
      <td>
          <a class="btn btn-danger" href="{% url 'funcionarios_delete' funcionario.id %}"><i class="fas fa-trash-alt" style="font-size:12px"></i></a>
          <a class="btn btn-info" href="{% url 'funcionarios_update' funcionario.id %}"><i class="fas fa-edit" style="font-size:12px"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>  
</div>
 
{% endblock  %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock  %}