{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock  %}

{% block main %}
   <div class="jumbotron">
      <h1 class="display-4 text-center">Soluções em Recursos Humanos</h1>
      <p class="lead text-center">Projeto pessoal desonvolvido com o intuito de aprimorar conhecimentos em desenvolvimento de software</p>
      <hr class="my-4">
      <p class="lead">
      </p>
  </div>
<h4 class="display-4 text-center"><ins>Stack do Projeto</ins></h4>
<div class="container">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="{% static 'imagens/bootstrap-social.png' %}" width="260" height="180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bootstrap</h5>
        <p class="card-text">
            Bootstrap é um framework web com código-fonte aberto para desenvolvimento de componentes de interface e front-end para sites e aplicações web usando HTML, CSS e JavaScript, baseado em modelos de design para a tipografia, melhorando a experiência do usuário em um site amigável e responsivo. 
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'imagens/amazon.png' %}" width="260" height="180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">AWS</h5>
        <p class="card-text">
            Amazon Web Services, também conhecido como AWS, é uma plataforma de serviços de computação em nuvem, que formam uma plataforma de computação na nuvem oferecida pela Amazon.com. Os serviços são oferecidos em várias geográficas distribuídas pelo mundo
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'imagens/ngnix.png' %}" width="260" height="180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
            O NGINX foi lançado em Outubro de 2004. O criador do software, Igor Sysoev, começou o projeto em 2002 como uma resposta ao problema C10k. O C10k é o desafio de gerenciar 10 mil conexões ao mesmo tempo. Hoje em dia há ainda mais conexões que um servidor gerencia. Por este motivo o NGINX oferece uma arquitetura orientada a eventos e assíncrona, o que o torna um dos servidores mais confiáveis em questão de velocidade e escalabilidade.
        </p>
      </div>
    </div>
  </div>
   <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="{% static 'imagens/git-logo.png' %}" width="260" height="180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'imagens/Octocat.png' %}" width="260" height="180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'imagens/img1.jpg' %}" width="260" height="180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
 <br><br>
  
  
{% endblock  %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock  %}