{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock  %}

{% block main %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Gestão de RH</h1>
    <p class="lead">Projeto pessoal, desenvolvido com intuito de aperfeiçor conhecimentos no desenvolvimento de software.
        Abaixo segue a stack de tecnologias utilizadas no projeto.
    </p>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <div class="text-center">
             <img src="{% static 'imagens/bootstrap-social.png' %}" width="260" height="180"  class="rounded" alt="...">
          </div>
      </div>
      <div class="col-sm">
         <div class="text-center">
             <img src="{% static 'imagens/bootstrap-social.png' %}" width="260" height="180"  class="rounded" alt="...">
          </div>
      </div>
      <div class="col-sm">
         <div class="text-center">
             <img src="{% static 'imagens/amazon.png' %}" width="260" height="180"  class="rounded" alt="...">
          </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm">
          <div class="text-center">
             <img src="{% static 'imagens/git-logo.png' %}" width="260" height="180"  class="rounded" alt="...">
          </div>
      </div>
      <div class="col-sm">
         <div class="text-center">
             <img src="{% static 'imagens/ngnix.png' %}" width="260" height="180"  class="rounded" alt="...">
          </div>
      </div>
      <div class="col-sm">
         <div class="text-center">
             <img src="{% static 'imagens/Octocat.png' %}" width="260" height="180"  class="rounded" alt="...">
          </div>
      </div>
    </div>
</div>
  
{% endblock  %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock  %}