{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock  %}

{% block main %}
<div class="container-fluid">
   <div class="jumbotron">
  <h1 class="display-4">Soluções em Recursos Humanos</h1>
  <p class="lead">Projeto pessoal desonvolvido com o intuito de aprimorar conhecimentos em desenvolvimento de software</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
  </p>
</div>

<div class="container">
    <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{% static 'imagens/bootstrap-social.png' %}" width="260" height="180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'imagens/img1.jpg' %}" width="260" height="180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'imagens/img1.jpg' %}" width="260" height="180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
 <br><br>
  
  
{% endblock  %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock  %}