{% extends 'base.html' %} 
{% load static %}
{% block title %}
    Profile
{% endblock title %}

{% block main %}
<br>
<div class="container-fluid">
 
<div class="card mb-3">
  <img class="card-img-top" src="{% static 'imagens/empreendedorismo-capa.jpg' %}" width="781" height="180" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
           {% if usuario.funcionario.empresa %}
                <p class="text-left"> Olá {{ usuario.funcionario.nome }} percebemos que você já está vinculado a empresa  <a href="{% url 'edite_empresa' usuario.funcionario.empresa.id %}" class="badge badge-primary">{{ usuario.funcionario.empresa }}</a>.</p>
                
            {% else %} 
                <a href="{% url 'create_empresa' %}">Criar Empresa</a> | <a href="{% url 'logout' %}">Sair</a>
            {% endif %} 
    </h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-tasks"></i> Gerenciar</h5>
        <a href="{% url 'funcionarios_list' %}" class="btn btn-primary"><i class="fas fa-sticky-note"></i> Lista de Funcionários</a>
        <a href="{% url 'funcionarios_create' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Novo Funcionário</a>
        <a href="{% url 'hora_extra_list' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Lista Horas Extras</a>
        <a href="{% url 'hora_extra_create' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add Horas Extras</a>
        <a href="{% url 'list_departamentos' %}" class="btn btn-primary"><i class="fas fa-sticky-note"></i> Lista de Departamentos</a>
        <a href="{% url 'create_departamentos' %}" class="btn btn-primary"><i class="fas fa-plus"></i>Add Departamento</a> 
        <a href="{% url 'pdf-reportlab' %}" class="btn btn-primary"><i class="fas fa-plus"></i>Relatório ReportLab</a> 
        <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>
{% endblock main %}

{% block footer %}
     {% include 'footer.html' %}
{% endblock footer %}