{% extends 'base.html' %} 
{% load static %}
{% block title %}
    Profile
{% endblock title %}

{% block main %}
<ul class="nav justify-content-end " style="background-color: #21D98B;">
  <li class="nav-item">
    <a class="nav-link active text-secondary" href="{% url 'funcionarios_list' %}"><i class="fa fa-list"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="{% url 'funcionarios_create' %}"><i class="fa fa-user-plus"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="{% url 'hora_extra_list' %}"><i class="fa fa-user-clock"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="{% url 'hora_extra_create' %}"><i class="fa fa-hourglass-half"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="{% url 'list_departamentos' %}"><i class="fa fa-bezier-curve"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="{% url 'create_departamentos' %}"><i class="fa fa-hourglass-half"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="{% url 'edite_empresa' usuario.funcionario.empresa.id %}"><i class="fas fa-globe"></i></a>
  </li>
</ul>
<div class="jumbotron jumbotron-fluid" style="background-color: #21D98B;">
  <div class="container">
  {% if usuario.funcionario.empresa %}
    <h1 class="display-4 text-center">
       Seja bem vindo {{ usuario.funcionario.nome }}
    </h1>
    <p class="lead">
        
                <p class="text-left"> Você está vinculado a empresa  {{ usuario.funcionario.empresa }}</p>
                
        {% else %} 
                <a href="{% url 'create_empresa' %}">Criar Empresa</a> | <a href="{% url 'logout' %}">Sair</a>
        {% endif %} 
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
        <a class="nav-link text-secondary" href="{% url 'relatorio_funcionario_html' %}"><i class="fas fa-globe"></i></a>
        <a class="nav-link text-secondary" href="{% url 'exportar-csv' %}"><i class="fas fa-file-csv"></i></a>
        <a class="nav-link text-secondary" href="{% url 'exportar-excel' %}"><i class="fas fa-file-excel"></i></a>
    </div>
    <div class="col-sm">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="col-sm">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>
 
{% endblock main %}

{% block footer %}
     {% include 'footer.html' %}
{% endblock footer %}